
body {
  background-color: #f2f2f2;

}

.main-wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.header {
  padding: 20px;
  text-align: center;
  background-color: #fff;
  color: #333;
  font-size: 24px;
  box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.12);
}

.footer {
  border-top: 1px solid #e5e5e5;
  background-color: #fff;
  text-align: center;
  padding: 30px;
  font-size: 24px;
  color: #333;
  margin-top: auto;

}

.main-content {
  padding: 20px 0;
  span {
    display: block;
  }
  .alert {
    margin-top: 20px;
  }
  .btn {
    margin-top: 15px;
  }
}


.sidebar {
  height: 100%;
  box-shadow: 1px 1px 6px rgba(0,0,0,0.2);
  border-radius: 6px;
  background-color: #fff;
  padding: 20px;
  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    li {
      display: block;
      padding: 5px 0;
    }
  }
}


.main-box {
  background-color: #fff;
  padding: 20px;
  box-shadow: 1px 1px 6px rgba(0,0,0,0.2);
  border-radius: 6px;
}
